{% extends 'admin_panel/login.html' %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    Login Pages
{% endblock %}

{% block main %}
    {% bootstrap_messages %}
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="post" action="" enctype="multipart/form-data">
                    <div class="login-form-head">
                        <h4>Login Page</h4>
                        <p>Hello there, Sign in and start managing your Admin Template</p>
                    </div>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Don't have an account? <a href="register.html">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
